<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tarea 3</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body class="p-5">
	<h1>Ingreso de nuevo alumno</h1>

	<form method="post" th:action="@{/guardarAlumno}">
		<div class="form-group">
			<div class="row">
				<div class="col">
					<input name="nombres" type="text" class="form-control"
						placeholder="Nombres del Alumno" required>
				</div>
				<div class="col">
					<input name="apellidos" type="text" class="form-control"
						placeholder="Apellidos del Alumno" required>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col">
					<label>Fecha de Nacimiento:</label> <input name="fechaNacimiento"
						type="text" placeholder="ejemplo: 31/01/1990" class="form-control" required>
				</div>
				<div class="col">
					<label>Lugar de Nacimiento:</label> <input name="lugarNacimiento"
						type="text" placeholder="San Salvador" class="form-control" required>
				</div>
			</div>
		</div>

		<div class="form-group">
			<input class="form-control" name="colegio" type="text"
				placeholder="Colegio o Institucion" required>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col">
					<input name="telMovil" type="text" class="form-control" placeholder="Tel. Movil" required>
				</div>
				<div class="col">
					<input name="telFijo" type="text" class="form-control" placeholder="Tel Fijo" required>
				</div>
			</div>
		</div>
		
		<input type="submit" class="btn btn-success" value="Guardar Alumno">



	</form>





	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>